
@font-face {
  font-family: 'NK767-Regular';
  src: url('NK767-Regular.eot?#iefix') format('embedded-opentype'),  url('NK767-Regular.woff') format('woff'), url('NK767-Regular.ttf')  format('truetype'), url('NK767-Regular.svg#NK767-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
