@import url(../src/css/reset.css);

@font-face {
	font-family: "MyriadProRegular";
	src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
	src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
	     url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
	     url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
    font-family: "open_sansregular";
    src: url("../fonts/OpenSansRegular/opensans-regular-webfont.woff2") format("woff2"),
         url("../fonts/OpenSansRegular/opensans-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/OpenSansSemibold/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/OpenSansSemibold/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
$ColorGrey: #4e525d;
$BordColMenu: #49cbcd;
$OpenSansReg: 'open_sansregular';
@mixin fonts ($font-family,$font-size,$color) {
    font-family: $font-family;
    font-size: $font-size;
    color: $color;
}
.clearfix {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}
body {
    font: Arial 12px;
    box-sizing: border-box;
}
#wrapper {
    min-height: 80vh;
    padding-bottom: 80px;
    margin: 0 auto;
    max-width: 1400px;
}
header{
	margin: 0px 135px 0px 135px;
	.logo {
		display: inline-block;
	    background: url(image/logo.png);
	    margin: 30px 0px 43px 0px;
	    box-sizing: border-box;
	     a{
	        display: inline-block;
	        height: 37px;
	        width: 120px;
	        text-indent: -9999px;	
	    }
	}
}
.menu{
	float: right;
	display: inline-block;
	li{
		display: inline-block;
		padding: 41px 25px 38px 25px;
		border-bottom: 3px solid;
		border-color: white;
		&:hover{
			border-color: $BordColMenu;
			background: #f8f9fb;
			a{
				color: #6ad1d3;
			}
		}
		a{
			text-decoration: none;
			@include fonts($OpenSansReg, 15px, $ColorGrey);
		}
	}
}
