@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5d6ywh');
  src:  url('fonts/icomoon.eot?5d6ywh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5d6ywh') format('truetype'),
    url('fonts/icomoon.woff?5d6ywh') format('woff'),
    url('fonts/icomoon.svg?5d6ywh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-users:before {
  content: "\e972";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-twitter:before {
  content: "\ea96";
}

